.fondo{
    
    width: 100%;
    height: 55px;
    color:white;
    font-size: 25px;
}

.menu{background-color: #4a9dd8;
    border-radius: 5px;

}

.tituloprincipal{ color: blue;

}

