.logo{
    background: blue;
    font-weight: bold;
    
}

.navegacion{
    background: blue;
    
    font-weight: bold;
}

.rojo{
    background: red;

} 

.primeraimagen{
    color: azure;
    width: ;
}

.textonegro{
    background-color: white;
    
}

.segundaimagen{
    float: right;
    margin-top: -10%;
}

.lista1{
    display: ;
    
}

.cuadrs{
    border:
}
    


